<!DOCTYPE html>
<html>
	<!--
		ИНСТРУКЦИЯ
		
		Это пример. HTML-файа на странице, которая выводит изображение в полном размере.
        Чтобы его использовать, изменять его под свои нужды и переименовать его в direct.html без подчеркивания.
	-->
	<head>
		<title><?php echo $alpha; ?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</head>
	<body>
		<!-- your ad code here -->
		<div id="ad">My ads</div>
		<!-- output the image -->
		<img src="<?php echo $src; ?>" alt="Image"/>
	</body>
</html>